@page
@model AspNetCoreCookieAuthentication.Pages.Account.RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<h1 style="background-color:aqua">@ViewData["Title"]</h1>
<p>
    You account with email @Model.Email is registered sucessfully.
</p>