@page
@model IndexModel

@{
    ViewData["Title"] = "Home page";
}


<div class="text-center bg container-fluid">
    <h1 class="display-4" style="color:orangered; font:bolder"><strong>Welcome</strong></h1>
    <h2 style="color:white"><strong>Welcome to my website, you can start by registering</strong></h2>
</div>



